*{
    margin: 0px;
}
form{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
fieldset{
    border-radius: 5px;
}
tr{
    width: 300px;
    height: 30px;
}
td{
    width: 100px;
    height: 30px;
}
.envoyer{
    background-color: greenyellow;
    padding: 10px;
    border-radius: 5px;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.reini{
    background-color: red;
    padding: 10px;
    border-radius: 5px;
}
fieldset{
    background-color: rgb(243, 200, 136);
}